<h3>Bonjour {{name}},</h3>
<p>Vous avez reçu cet e-mail suite à votre demande de réinitialisation de mot de passe pour votre compte Wall-O.</p>
<p>Veuillez cliquer sur le lien ci-dessous pour changer votre mot de passe :</p>
<a href="{{url}}">Modifier mon mot de passe</a>
<p>Ce n'est pas vous ? ignorez ce message ou <a>contactez l'équipe Wall-O</a>.</p>