@import "../assets/scss/fontawesome.scss";
@import "../assets/scss/solid.scss";

// $primaryColor: #f4f5f7;
$primaryColor: #eeeeee;

html,
body,
h1,
h2 {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Noto Sans JP", sans-serif !important;
    flex-direction: column;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: $primaryColor;
    height: 100%;
}

header {
    padding: 16px 1rem;
    background: white;
    border-bottom: solid #cacaca 1px;
    display: flex;
    align-items: center;

    img {
        width: 70px;
        cursor: pointer;
    }
}

.button {
    background-color: #09C3EC;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 10px;
}

.vl {
    border-left: 1px solid #cacaca;
    height: 90%;
    margin: 0 1rem;
    // border-radius: 50%;
}

.padding {
    padding: 2rem;
}

.full-height {
    height: 100%;
}

main {
    min-height: 76%;
    display: flex;
    flex-direction: column;

    .main-content {
        background-color: white;
        min-height: 100%;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.search-input {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 355px;
    background: white;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

    i {
        font-size: 20px;
        opacity: 0.4;
        padding: 0px 5px 0px 12px;
    }

    input {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        border-style: none;
        outline: none;
    }
}

.table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 16px;

    .table-top {
        border-radius: 20px 20px 0px 0px;
        display: flex;
        background-color: #fbfbf9;
        border-bottom: solid #cacaca 1px;
        color: #6b7280;
    }

    .first-child {
        margin-left: 16px;
        width: 60%;
    }

    .last-child {
        margin-right: 16px;
        width: 40%;
    }

    .child-container {
        // padding: 6px 0;
        display: flex;
        border-bottom: solid #cacaca 1px;
        position: relative;
        cursor: pointer;
        align-items: center;
        height: 70px;

        &:before {
            @extend %fa-icon;
            @extend .fas;

            content: fa-content($fa-var-angle-right);
            // font-size: 25px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 50%;
            right: 30px;
            text-align: center;
            // color: #6B7280;
            color: #09c3ec;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: #fcffdf;
        }

        .rounded-icon {
            display: flex;
            padding: 6px 0;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 1rem;
            }
            p {
                margin: 0;
            }
        }
    }
}

.title-background {
    display: flex;
    justify-content: center;
    min-height: 225px;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    color: white;

    img {
        z-index: -2;
        position: absolute;
        height: 97%;
        width: 100%;
        object-fit: cover;
        filter: blur(5px);
    }

    &:before {
        content: "";
        background-color: #000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    a {
        cursor: pointer;
        position: absolute;
        right: 2rem;
        top: 2rem;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}

.fish {
    .date {
        padding: 6px 0px;
        color: #6B7280;
        margin-bottom: 1rem;
        border-bottom: solid #cacaca 1px;
    }

    .grid-container {
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        img {
            width: 125px;
            height: 125px;
            object-fit: cover;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}
